* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transition: all 1s ease;
}

html {
    height: 100%;
}

body {
    background-color: #FDF8F2;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;

}

.button {
    border-radius: 200px;
    border: 1px solid var(--Black, #100D0B);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    background: var(--Cream, #FDF8F2);
    color: var(--Book-Colors-Black, #211F1F);

    &_dark {
        border-radius: 200px;
        border: 1px solid var(--Black, #100D0B);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        background: var(--Book-Colors-Black, #211F1F);
        color: var(--Base-White, #FFF);
    }

    &_dark:hover {
        background-color: #007CC2;
        border: 1px solid var(--Book-Colors-Black, #007CC2);
    }
}


.button:hover {
    background-color: #007CC2;
    border: 1px solid var(--Book-Colors-Black, #007CC2);
    color: #FFF;
}



.header-content {
    display: flex;
    justify-content: space-between;
    padding: 42px 0;
    margin-bottom: 96px;

    &__nav {
        display: flex;
        flex-direction: row;
        gap: 48px;
        align-items: center;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 48px;

    }

    &__link {
        color: var(--Black, #100D0B);
        text-align: center;
        font-family: Avenir;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 150% */
    }

    &__link:hover {
        color: #007CC2;
    }

    &__btns {
        gap: 18px;
        display: flex;
    }

    &__btn {
        gap: 18px;
        font-family: Avenir;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        padding: 10px 18px;
    }

}


.learnmore {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 96px;

    &__title {
        color: var(--Gray-900, #101828);
        text-align: center;
        font-family: Fraunces;
        font-size: 72px;
        font-style: normal;
        font-weight: 300;
        line-height: 82px;
        letter-spacing: -1.44px;
        text-transform: capitalize;
    }

    &__text {
        color: var(--Gray-500, #667085);
        text-align: center;

        /* Text xl/Normal */
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;

        /* 150% */
        &_grey {
            border-radius: 16px;
            background: var(--Gray-100, #F2F4F7);
            display: flex;
            padding: 4px 12px;
            justify-content: center;
            align-items: center;
        }


    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 64px;
    }

    &__btn {
        padding: 16px 28px;
        font-family: Avenir;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }
}

.colored-image {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.question {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 56px;
    margin-top: 96px;
    margin-bottom: 96px;

    &__subtitle {
        color: var(--Book-Colors-Black, #211F1F);
        font-family: Fraunces;
        font-size: 64px;
        font-style: normal;
        font-weight: 300;
        line-height: 72px;
        /* 112.5% */
        letter-spacing: -1.28px;
    }

    &_1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        gap: 32px;
        border-top: 1px solid #DE5217;
        padding-top: 24px;
    }

    &_2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 32px;
        margin-top: 136px;
        border-top: 1px solid #007CC2;
        padding-top: 24px;
    }
}

.invitation {
    background-color: #FED501;

    &__content {
        padding: 96px 0;
        text-align: center;
        padding-left: 32px;
        padding-right: 32px;
    }

    &__subtitle {
        color: var(--Book-Colors-Black, #211F1F);
        text-align: center;
        font-family: Fraunces;
        font-size: 50px;
        font-style: normal;
        font-weight: 300;
        line-height: 50px;
        /* 100% */
        letter-spacing: -1px;
        margin-bottom: 20px;
    }

    &__text {
        color: var(--Book-Colors-Black, #211F1F);
        text-align: center;

        /* Text xl/Normal */
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 150% */
        margin-bottom: 40px;
    }

    &__btn {
        padding: 12px 20px;

    }
}

.ownerabout {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 20%;
        padding-right: 20%;
        gap: 24px;
    }

    &__photo_1 {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__text {
        color: var(--Black, #100D0B);
        text-align: center;

        /* Text xl/Normal */
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;

        /* 150% */
        &_gray {
            border-radius: 16px;
            background: var(--Gray-100, #F2F4F7);
            padding: 4px 12px;
        }
    }

    &__subtitle {
        color: var(--Black, #100D0B);
        text-align: center;
        font-family: Fraunces;
        font-size: 50px;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        /* 76% */
    }

    &__btn {
        padding: 12px 20px;

    }
}

.resourses {
    margin-top: 96px;
    margin-bottom: 216px;
    padding-left: 32px;
    padding-right: 32px;

    &__subtitle {
        color: var(--Book-Colors-Black, #211F1F);
        text-align: center;
        font-family: Fraunces;
        font-size: 50px;
        font-style: normal;
        font-weight: 300;
        line-height: 72px;
        /* 144% */
        letter-spacing: -1px;
        margin-bottom: 64px;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 32px;
    }

    &__element {
        gap: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            color: var(--Book-Colors-Black, #211F1F);
            text-align: center;
            font-family: Fraunces;
            font-size: 32px;
            font-style: normal;
            font-weight: 300;
            line-height: 30px;
            /* 93.75% */
        }

        &_text {
            color: var(--Book-Colors-Black, #211F1F);
            text-align: center;
            font-family: Avenir;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
        }
    }
}

.experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    justify-content: space-between;
    margin-bottom: 192px;

    &__pic {
        object-fit: cover;
        width: 100%;

    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: flex-start;
        justify-content: center;
    }

    &__text {
        color: var(--Gray-900, #101828);

        /* Display md/Normal */
        font-family: Fraunces;
        font-size: 36px;
        font-style: normal;
        font-weight: 300;
        line-height: 44px;
        /* 122.222% */
        letter-spacing: -0.72px;
    }

    &__btn {
        padding: 10px 18px;

    }
}

.appeal {

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 32px;
    padding-right: 32px;
    gap: 32px;
    margin-bottom: 96px;

    &__element {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;
    }

    &__subtitle {
        color: var(--Gray-900, #101828);
        text-align: center;

        /* Display sm/Normal */
        font-family: Fraunces;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        /* 126.667% */
    }

    &__text {
        color: #667085;
        text-align: center;
        font-family: Avenir;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }
}

.contact-form {
    transform: translate(0, 96px);
    padding: 64px 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    border-radius: 16px;
    background: var(--Book-Colors-White, #FFF);
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);

    &__right {
        display: flex;
        flex-direction: column;
    }

    &__form {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    &__text {
        color: var(--Gray-900, #101828);

        /* Display sm/Normal */
        font-family: Fraunces;
        font-size: 30px;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        /* 126.667% */
    }

    &__email {
        display: flex;
        padding: 12px 14px;
        width: 360px;
        border-radius: 8px;
        border: 1px solid var(--Gray-300, #D0D5DD);
        background: var(--Base-White, #FFF);

        /* Shadow/xs */
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }

    &__submit {
        border-radius: 200px;
        border: 1px solid var(--Book-Colors-Black, #211F1F);
        background: var(--Book-Colors-Black, #211F1F);

        /* Shadow/xs */
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        display: flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        color: #FFFFFF;
    }

    &__underform {
        display: flex;
        width: 360px;
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;
    }
}

.date {
    background-color: #211F1F;

    &__content {
        padding: 192px 32px 96px 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 112px;
    }

    &__element {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    &__subtitle {
        color: #FFFFFF;
        /* Display xl/Semibold */
        font-family: Fraunces;
        font-size: 60px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px;
        /* 120% */
        letter-spacing: -1.2px;

        &_green {
            color: var(--Book-Colors-Green, #A4C14D);
            font-family: Fraunces;
            font-size: 60px;
            font-style: normal;
            font-weight: 600;
            line-height: 72px;
            /* 120% */
            letter-spacing: -1.2px;

        }
    }

    &__text {
        color: var(--Book-Colors-White, #FFF);
        font-family: Avenir;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        /* 155.556% */
    }

    &__btn {
        display: flex;
        padding: 8px 14px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-top: 16px;
        border: 1px solid var(--Book-Colors-White, #FFF);

    }

}

.forfriends {
    margin-top: 96px;
    margin-bottom: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__subtitle {
        color: var(--Black, #100D0B);
        text-align: center;
        font-family: Fraunces;
        font-size: 50px;
        font-style: normal;
        font-weight: 300;
        line-height: 44px;
        /* 88% */
        letter-spacing: -1px;
        margin-bottom: 20px;
    }

    &__text {
        color: var(--Black, #100D0B);
        text-align: center;

        /* Text xl/Normal */
        font-family: Avenir;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 150% */
        margin-bottom: 64px;
    }

    &__img {
        margin-bottom: 64px;
    }

    &__btn {
        padding: 12px 20px;
    }
}



.footer {
    background-color: #211F1F;
    padding: 64px 0 0 0;


    &__logo path {
        fill: #FFFFFF;
    }

    &__logo {
        margin-bottom: 32px;
    }

    &__nav {
        padding-bottom: 64px;
        border-bottom: 1px solid #475467;
    }

    &__list {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    &__link {
        color: #FFFFFF;
    }

    &__down {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        margin-bottom: 48px;
        color: var(--Gray-300, #D0D5DD);
        font-family: Avenir;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    &__logos {
        display: flex;
        gap: 24px;
    }
}