* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  transition: all 1s ease;
}

html {
  height: 100%;
}

body {
  background-color: #FDF8F2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
  margin-bottom: 96px;
}
.header-content__nav {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
}
.header-content__list {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.header-content__link {
  color: var(--Black, #100D0B);
  text-align: center;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}
.header-content__link:hover {
  color: #007CC2;
}
.header-content__btn {
  gap: 18px;
  text-align: center;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  flex-direction: row;
}
.header-content__btn_know {
  color: var(--Black, #100D0B);
  border-radius: 200px;
  border: 1px solid var(--Book-Colors-Black, #211F1F);
  display: flex;
  padding: 10px 18px;
  align-items: center;
  gap: 8px;
}
.header-content__btn_know:hover {
  background-color: #007CC2;
  border: 1px solid var(--Book-Colors-Black, #007CC2);
  color: #FFF;
}
.header-content__btn_consult {
  color: var(--Base-White, #FFF);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 200px;
  border: 1px solid var(--Book-Colors-Black, #211F1F);
  background-color: #211F1F;
  display: flex;
  padding: 10px 18px;
  align-items: center;
  gap: 8px;
}
.header-content__btn_consult:hover {
  background-color: #007CC2;
  border: 1px solid var(--Book-Colors-Black, #007CC2);
}

.learnmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 64px;
  padding-left: 32px;
  padding-right: 32px;
}
.learnmore__title {
  color: var(--Gray-900, #101828);
  text-align: center;
  font-family: Fraunces;
  font-size: 72px;
  font-style: normal;
  font-weight: 300;
  line-height: 82px;
  /* 113.889% */
  letter-spacing: -1.44px;
  text-transform: capitalize;
}
.learnmore__text {
  color: var(--Gray-500, #667085);
  text-align: center;
  /* Text xl/Normal */
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}
.learnmore__text_grey {
  border-radius: 16px;
  background: var(--Gray-100, #F2F4F7);
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
}
.learnmore__buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.learnmore__button_reg {
  color: #FFFFFF;
  border-radius: 200px;
  border: 1px solid var(--Black, #100D0B);
  background: var(--Black, #100D0B);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.learnmore__button_learn {
  display: flex;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 200px;
  border: 1px solid var(--Black, #100D0B);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.colored-image {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 96px;
}

.question {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 56px;
  margin-top: 96px;
  margin-bottom: 96px;
  padding-left: 32px;
  padding-right: 32px;
}
.question__subtitle {
  color: var(--Book-Colors-Black, #211F1F);
  font-family: Fraunces;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 72px;
  /* 112.5% */
  letter-spacing: -1.28px;
}
.question_1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 32px;
  border-top: 1px solid #DE5217;
  padding-top: 24px;
}
.question_2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
  margin-top: 136px;
  border-top: 1px solid #007CC2;
  padding-top: 24px;
}

.invitation {
  background-color: #FED501;
}
.invitation__content {
  padding: 96px 0;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}
.invitation__subtitle {
  color: var(--Book-Colors-Black, #211F1F);
  text-align: center;
  font-family: Fraunces;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  /* 100% */
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.invitation__text {
  color: var(--Book-Colors-Black, #211F1F);
  text-align: center;
  /* Text xl/Normal */
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
  margin-bottom: 40px;
}
.invitation__btn {
  border-radius: 200px;
  background: var(--Book-Colors-Black, #211F1F);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 12px 20px;
  gap: 8px;
  color: #FFFFFF;
}

.ownerabout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.ownerabout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  gap: 24px;
}
.ownerabout__photo_1 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.ownerabout__text {
  color: var(--Black, #100D0B);
  text-align: center;
  /* Text xl/Normal */
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
}
.ownerabout__text_gray {
  border-radius: 16px;
  background: var(--Gray-100, #F2F4F7);
  padding: 4px 12px;
}
.ownerabout__subtitle {
  color: var(--Black, #100D0B);
  text-align: center;
  font-family: Fraunces;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  /* 76% */
}
.ownerabout__btn {
  border-radius: 200px;
  background: var(--Book-Colors-Black, #211F1F);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 12px 20px;
  gap: 8px;
  color: #FFF;
}

.resourses {
  margin-top: 96px;
  margin-bottom: 216px;
  padding-left: 32px;
  padding-right: 32px;
}
.resourses__subtitle {
  color: var(--Book-Colors-Black, #211F1F);
  text-align: center;
  font-family: Fraunces;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 72px;
  /* 144% */
  letter-spacing: -1px;
  margin-bottom: 64px;
}
.resourses__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.resourses__element {
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resourses__element_title {
  color: var(--Book-Colors-Black, #211F1F);
  text-align: center;
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  /* 93.75% */
}
.resourses__element_text {
  color: var(--Book-Colors-Black, #211F1F);
  text-align: center;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 64px;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 192px;
}
.experience__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.experience__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: center;
}
.experience__text {
  color: var(--Gray-900, #101828);
  /* Display md/Normal */
  font-family: Fraunces;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  /* 122.222% */
  letter-spacing: -0.72px;
}
.experience__btn {
  border-radius: 200px;
  border: 1px solid var(--Book-Colors-Black, #211F1F);
  background: var(--Book-Colors-Black, #211F1F);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #FFFFFF;
  padding: 10px 18px;
}

.appeal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 32px;
  padding-right: 32px;
  gap: 32px;
  margin-bottom: 96px;
}
.appeal__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.appeal__subtitle {
  color: var(--Gray-900, #101828);
  text-align: center;
  /* Display sm/Normal */
  font-family: Fraunces;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  /* 126.667% */
}
.appeal__text {
  color: #667085;
  text-align: center;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.contact-form {
  transform: translate(0, 96px);
  padding: 64px 96px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  border-radius: 16px;
  background: var(--Book-Colors-White, #FFF);
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}
.contact-form__right {
  display: flex;
  flex-direction: column;
}
.contact-form__form {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.contact-form__text {
  color: var(--Gray-900, #101828);
  /* Display sm/Normal */
  font-family: Fraunces;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
  /* 126.667% */
}
.contact-form__email {
  display: flex;
  padding: 12px 14px;
  width: 360px;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #D0D5DD);
  background: var(--Base-White, #FFF);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.contact-form__submit {
  border-radius: 200px;
  border: 1px solid var(--Book-Colors-Black, #211F1F);
  background: var(--Book-Colors-Black, #211F1F);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #FFFFFF;
}
.contact-form__underform {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.date {
  background-color: #211F1F;
}
.date__content {
  padding: 192px 32px 96px 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 112px;
}
.date__element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.date__subtitle {
  color: #FFFFFF;
  /* Display xl/Semibold */
  font-family: Fraunces;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  /* 120% */
  letter-spacing: -1.2px;
}
.date__subtitle_green {
  color: var(--Book-Colors-Green, #A4C14D);
  font-family: Fraunces;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px;
  /* 120% */
  letter-spacing: -1.2px;
}
.date__text {
  color: var(--Book-Colors-White, #FFF);
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  /* 155.556% */
}
.date__btn {
  color: var(--Book-Colors-White, #FFF);
  background-color: #211F1F;
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  border-radius: 200px;
  border: 1px solid var(--Book-Colors-White, #FFF);
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
}

.forfriends {
  margin-top: 96px;
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forfriends__subtitle {
  color: var(--Black, #100D0B);
  text-align: center;
  font-family: Fraunces;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 44px;
  /* 88% */
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.forfriends__text {
  color: var(--Black, #100D0B);
  text-align: center;
  /* Text xl/Normal */
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 150% */
  margin-bottom: 64px;
}
.forfriends__img {
  margin-bottom: 64px;
}
.forfriends__btn {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 200px;
  border: 1px solid var(--Black, #100D0B);
  background: var(--Black, #100D0B);
  color: #FFF;
  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.footer {
  background-color: #211F1F;
  padding: 64px 0 0 0;
}
.footer__logo path {
  fill: #FFFFFF;
}
.footer__logo {
  margin-bottom: 32px;
}
.footer__nav {
  padding-bottom: 64px;
  border-bottom: 1px solid #475467;
}
.footer__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.footer__link {
  color: #FFFFFF;
}
.footer__down {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 48px;
  color: var(--Gray-300, #D0D5DD);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}
.footer__logos {
  display: flex;
  gap: 24px;
}/*# sourceMappingURL=style.css.map */